{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(registrationForm, {'attr' : {'class' : 'form form-new'}}) }}
    <h1>Enregistrement d'un nouvel utilisateur</h1>
        {{ form_row(registrationForm.email, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            'attr' : {'class' : 'form-control'},
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
