{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.name }}{% endblock %}

{% block body %}
    <a href="{{ path('category_index') }}" class="navigation">Retour à la liste des catégories</a>
    {% for program in programs %}
        <div class="program_container">
            <p class="program_text">{{ program.id }} : {{ program.title }}</p>
            <p class="program_text">{{ program.summary }}</p>
            <a href="{{ path('program_show', { slugProgram: program.slug }) }}" class="program_lien">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
{% endblock %}
