{% extends 'base.html.twig' %}

{% block title %}Liste des épisodes{% endblock %}

{% block body %}
    <h1>Liste des épisodes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_index') }}" class="navigation">Retour à la liste des épisodes</a>

    <a href="{{ path('episode_edit', {'id': episode.id}) }}" class="navigation">Modifier l'épisode</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
