{% extends 'base.html.twig' %}

{% block title %}Liste des saisons{% endblock %}

{% block body %}
    <h1>Liste des saisons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Année de diffusion</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ season.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('season_index') }}" class="navigation">Retour à la liste des saison</a>

    <a href="{{ path('season_edit', {'idSeason': season.id}) }}" class="navigation">Modifier la saison</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
