{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="submit">{{ button_label|default('Chercher') }}</button>
    {{ form_end(form) }}

    <h1 class="program_title">Toutes les séries</h1>
    <a href="{{ path('index') }}" class="navigation">Retour à l'accueil</a>
    {% for program in programs %}
        <div class="program_container">
            <p class="program_text">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</p>
            <p class="program_text">{{ program.summary }}</p>
            <a href="{{ path('program_show', { 'slugProgram': program.slug }) }}" class="program_lien">Plus de détails</a>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('program_edit', { 'slugProgram': program.slug} ) }}" class="submit">Éditer</a>
            {% endif %}
        </div>
    {% else %}
        <h3>Aucune série trouvée.</h3>
    {% endfor %}
{% endblock %}
