{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}
    <h1 class="program_title">Toutes les séries</h1>
    <a href="{{ path('index') }}" class="navigation">Retour à l'accueil</a>
    {% for program in programs %}
        <div class="program_container">
            <p class="program_text">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</p>
            <p class="program_text">{{ program.summary }}</p>
            <a href="{{ path('program_show', { 'slugProgram': program.slug }) }}" class="program_lien">Plus de détails</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
{% endblock %}
