{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <a href="{{ path('program_season_show', { 'idProgram': program.id, 'idSeason': season.id }) }}" class="navigation">Retour à la liste des episodes</a>
    <h1 class="mt-0">{{ program.title }}</h1>
    <h2>Saison n°{{ season.number }}</h2>
    <h2>Episode n°{{ episode.number }} - {{ episode.title }}</h2>
    <div class="program_container">
        <h2>{{ episode.synopsis }}</h2>
    </div>
{% endblock %}
