{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <a href="{{ path('program_index') }}" class="navigation">Retour à la liste des séries</a>
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <h4>{{ program.summary }}</h4>
            <p>Catégorie : {{ program.category.name }}</p>
            {% for season in program.seasons %}
                <div class="program_container">
                    <p class="program_text">Saison n°{{ season.number }}
                    / Première diffusion: {{ season.year }}</p>
                    <a href="{{ path('program_season_show', { 'idProgram': program.id, 'idSeason': season.number }) }}" class="program_lien">Plus de détails</a>
                </div>
            {% else %}
                Aucune saison trouvée.
            {% endfor %}
        </div>
    </div>
{% endblock %}
