{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <a href="{{ path('program_index') }}" class="navigation">Retour à la liste des programmes</a>
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    </div>
{% endblock %}
